#home-heading {
  font-family: 'Rubik';
  font-size: 16vmin;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #8FA998;
  line-height: .7;
}

#home-subheading {
  font-family: 'Lato';
  font-size: 10vmin;
  font-weight: lighter;
  color: #4c5d52;
}

.home-buttons .btn {
  background-color: #FF8C00;
  margin:25px;
  padding:25px 50px 25px 50px;
  font-size: 25px;
}

.home-buttons {
  height: 50%;
  margin-top: 150px;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 80%;
}